.main{
    color: rgb(241, 130, 156);
}
.text{
    font-size: xxx-large;
    font-style: italic;
    font-weight: 1000;
}
span{
    color: red;
}
.firstPrompt{
    font-size: xx-large;
    font-style: italic;
    font-weight: 500;
}
.secondPrompt{
    font-size: xx-large;
    font-style: italic;
    font-weight: 500;
}
.result{
    padding-left: 42%;
}